@media(max-width: 1160px) {
    .header {
        &__menu-list {
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: -850px;
            background-color: rgba(28,28,28,0.9);
            width: 100%;
            padding: 25px;
            height: 100vh;
            transition: .5s;
            z-index: 55;
            &--active {
                top: 0px;
                opacity: 1;
                visibility: visible; 
                transition: .5s;
            }
        }
        &__menu-item {
            margin-bottom: 33px;
            &:first-child {
                margin-top: 33px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__menu-item + &__menu-item {
            margin-left: 0;
        }
        &__menu-link {
            font-size: 16px;
            line-height: 18px;
            border-bottom: none;
            &:hover {
                color: rgb(68, 68, 201);
                border-bottom: none;
            }
        }
        &__menu-burger {
            margin-top: -5px;
            display: block;
        }
        &__menu-list-drop {
            display: none;
        }
        &__content-inner {
            padding-top: 13%;
        }
        &__subtitle1 {
            font-size: 38px;
            line-height: 40px;
        }
        &__subtitle2, 
        &__subtitle-slide,
        &__title {
            font-size: 34px;
            line-height: 40px;
        }
        &__button {
            margin-top: 50px;
        }
    }
    .about {
        &__img {
            max-width: 350px;
            height: 350px;
        }
        &__text {
            font-size: 22px;
            line-height: 28px;
        }
    }
    .process {
        &__content {
            margin-top: 50px;
        }
        &__img {
            max-width: 300px;
            height: 300px;
        }
       
        &__text {
            font-size: 22px;
            line-height: 28px;
        }
    }
    .services {
        &__menu-item {
           padding: 10px 18px; 
        }
        &__menu-item--active::after {
           display: none;
        }
    }
    .team {
        &__item {
            box-shadow: 5px 5px 5px 0px $third-color;
        }
        &__item-img {
            max-width: 135px;
        }
    }
    .reviews {
        padding-top: 80px;
        .button-prev {
            left: 10%;
        }
        .button-next {
            right: 15%;
        }
    }
    .header__select-wrapper .header__select {
        left: -40px;
    }
}
@media (max-width: 768px) {
    .header {
        &__content-inner {
            padding-top: 15%;
        }
        &__subtitle1 {
            font-size: 36px;
            line-height: 40px;
        }
        &__subtitle2, 
        &__subtitle-slide,
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__button {
            margin-top: 50px;
        }
    }
    .services {
        &__menu-text {
            font-size: 45px;
            line-height: 44px;
            color: $primary-color;

        }
    }
    .schedule {
        padding-bottom: 30px;
    }
    .contacts {
        &__content {
            padding-top: 70px;
            display: flex;
            justify-content: space-between;
        }
    }
}
@media(max-width: 670px) {
    .header {
        &__content-inner {
            padding-top: 25%;
        }
        &__subtitle1 {
            font-size: 30px;
            line-height: 30px;
        }
        &__subtitle2, 
        &__subtitle-slide,
        &__title {
            font-size: 26px;
            line-height: 30px;
        }
        &__button {
            margin-top: 50px;
        }
        &__menu-link {
            font-size: 14px;
            line-height: 16px;
        }
       
    }

    .about {
        &__content {
            margin-top: 15px;
        }
        &__img {
            max-width: 250px;
            height: 250px;
        }
        &__text {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .process {
        &__content {
            margin-top: 50px;
        }
        &__img {
            max-width: 200px;
            height: 200px;
        }
        &__text {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .services {
        &__menu-item {
           padding: 2px 7px;
           font-size: 22px;
           line-height: 30px; 
        }
        &__menu-content {
            text-align: center;
        } 
        &__content-img {
            display: none;
        }
        &__menu-text {
            padding-left: 0px;
        }
    }
    .center {
        padding: 50px 0;
        &__text {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            color: #fff;
        }
    }
    .team {
        &__items {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(2, minmax(50px, 1fr));
            grid-column-gap: 30px;
            grid-row-gap: 30px;
        }
        &__item-img {
            margin-top: 10px;
            max-width: 120px;
            border-radius: 50%;
        }
    }
    .reviews {
        .gallery-thumbs {
            margin-top: 50px;
            width: 300px;
        }
        .gallery-top .swiper-slide img {
            width: 80px;
            height: 80px;
        }
        .button-prev {
            left: 5%;
        }
        .button-next {
            right: 10%;
        }
    }
    .contacts {
        &__content {
            padding-top: 70px;
            flex-direction: column;
        }
        &__form {
            max-width: 500px;
            margin-bottom: 50px;
        }
    }
}

@media(max-width: $tablet-width) {
    .title {
        font-size: 22px;
        letter-spacing: 1px;
        &::after {
            top: 35px;
            left: 40%;
        }
        &::before {
            top: 42px;
            left: 45%;
        }
    }
    .header {
        &__content-inner {
            padding-top: 35%;
        }
        &__logo-img {
            max-width: 120px;
            max-height: 60px;
        }
        &__menu-burger {
            top: 25px;
        }
        &__subtitle1 {
            font-size: 28px;
            line-height: 30px;
        }
        &__subtitle2, 
        &__subtitle-slide,
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__button {
            margin-top: 50px;
            padding: 10px 15px;
            color: #fff;
            font-size: 18px;
            line-height: 20px;
            font-weight: 500;
        }
        &__menu-btn-top {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            outline: none;
            border: none;
            position: fixed;
            right: 15px;
            bottom: 20px;
            font-size: 22px;
            font-weight: 700;
            background-color: grey;
            box-shadow: 0px 0px 10px 5px $third-color;
            .fa-long-arrow-alt-up {
                color: #fff;
                font-size: 15px;
                transform: translateY(-2px);
            }
        }
    }
    .about {
        &__img {
            display: none;
        }
        &__text {
            margin-top: 40px;
            margin-left: 20px;
            font-size: 18px;
            line-height: 28px;
            color: #000;
        }
    } 
    .process {
        &__content {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        &__img {
           display: none;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .services {
        padding-bottom: 30px;
        &__content {
            margin-top: 50px;
        }
        &__menu-item {
           padding: 2px 0px;
           font-size: 16px;
           line-height: 20px; 
        }
        &__menu-content {
            text-align: center;
            margin-top: 15px;
        } 
        &__content-img {
            display: none;
        }
        &__menu-text {
            padding-left: 0px;
            font-size: 16px;
        }
    }
    .center {
        padding: 30px 0;
        &__text {
            font-size: 22px;
            line-height: 35px;
            font-weight: 700;
            color: #fff;
        }
    }
    .team {
        padding-bottom: 40px;
        &__items {
            grid-template-columns: repeat(1, minmax(50px, 1fr));
            justify-items: center; 
        }
    }
    .reviews {
        height: 430px;
        padding-top: 30px;
        .swiper-slide-text {
            font-size: 14px;
            line-height: 20px;
          }
        .gallery-thumbs {
            display: none;
        }
        .button-next {
           display: none;
        }
        .button-prev {
           display: none;
        }
    }
    .schedule {
        &__accordion {
            display: block;
            max-width: 400px;
            margin: 40px auto 0px;
        }
        &__item {
            margin-bottom: 10px;
        }
        &__item-title {
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            color: $primary-color;
            cursor: pointer;
            padding: 5px;
            box-shadow: 4px 4px 5px 4px $primary-color;
        }
        &__panel-item {
            p {
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
            }
        }
    }
    .contacts {
        &__form-title {
            font-size: 18px;
            line-height: 18px;
        }
        &__form-text {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .footer {
        &__copy {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

