.form {
    min-height: 500px;
    padding: 20px 0; 
    background-color: #fff; 
    background-color: grey;
    // background-image: url(../img/form/form-bg.jpg);
    background-image: linear-gradient(
        90deg,
        rgba(29, 27, 27, 0.8) 0%,
        rgba(15, 15, 15, 0.8) 100%
      ),
      url(../img/form/form-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form__title-box {
    text-align: center;
    padding-bottom: 30px;
}
.form__text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}
.form__box {
    max-width: 900px;
    margin: 0 auto;
}
.form__box-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.form__box-left-label,
.form__box-left-input,
.form__box-left-textarea {
    display: block;
    width: 350px;
    height: 40px;
    padding: 10px 15px;
    margin-bottom: 30px;
    color: blue;
    font-size: 18px;
    line-height: 24px;
    outline: none; 
}
.form__box-left-label {
    color: #fff;
}
.form__box-left-input,
.form__box-left-textarea {
    border: 2px solid rgb(68, 68, 146);
}
.form__box-left-input:focus,
.form__box-left-textarea:focus {
    box-shadow: 0px 0px 15px 0px rgb(68, 68, 146);
}

.form__box-left-textarea { 
    resize: none; 
    height: 60px;
}
.form__box-left-input::placeholder,
.form__box-left-textarea::placeholder { 
   letter-spacing: 1px;
   color: rgb(68, 68, 146);
}
.form__btn {
    margin: 70px 0 0 15px;
}
.form__btn button {
    background-color: #00002c;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    font-weight: 400;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;  
    border-radius: 2px;  
    transition: 0.3s;
}
.form__btn button:hover {
    box-shadow: 0 0 20px rgba(73, 115, 255, 0.6);
}