// Header
.header {
    position: relative;
    background-image: linear-gradient(
      90deg,
      rgba(70, 99, 151, 0.5) 0%,
      rgba(14, 32, 65, 0.9) 100%
    ),
    url(../img/header/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    &__logo {
        padding-left: 15px;
    }
    &__logo-img {
       max-width: 150px;
       max-height: 80px;
    }
    &__top {
        background-color:rgba(73, 72, 72, 0.9);
        position: fixed;
        transition: all .3s;
        width: 100%;
        z-index: 10;
        &--active {
            transition: all .3s;
        }
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
       
    }
    &__menu-btn-top {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        outline: none;
        border: none;
        position: fixed;
        right: 15px;
        bottom: 20px;
        font-size: 22px;
        font-weight: 700;
        background-color: grey;
        box-shadow: 0px 0px 15px 10px $third-color;
        cursor: pointer;
        text-align: center;
        display: none;
        z-index: 50;
        .fa-long-arrow-alt-up {
            color: #fff;
            font-size: 25px;
        }
    }
    &__menu-burger {
        display: none;
        cursor: pointer;
        right: 20px;
        top: 20px;
        z-index: 60;
        overflow: hidden;
        position: absolute;
        top: 40px;
        &-line {
            border-radius: 5px;
            transition: all 0.3s;
            height: 3px;
            width: 26px;
            background-color: #fff;
            display: block;
            margin-bottom: 6px;
            z-index: 5;
        }
        &-line:last-child {
            margin-bottom: 0px;  
        }
        &-line--first {
            width: 15px;  
            transform: translateX(11px);
        }
        .first {
            transform: translate(0px, 10px) rotate(45deg);
            width: 26px;
        }
        .middle {
            transform: scale(0);
        }
        .last {
            transform: translate(-1px, -8px)rotate(-45deg);
            z-index: 5;
        }
    }
    &__menu-list {
        display: flex;
    }
    &__menu-item {
        text-transform: uppercase;
    }
    &__menu-item + &__menu-item {
        margin-left: 30px;
    }
    &__menu-link {
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;
        transition: .3s;
        &:hover {
            color: $primary-color;
            border-bottom: 4px solid $primary-color
        }
    }
    &__menu-list-drop {
        position: relative;
    }
    &__menu-drop {
        width: 350px;
        position: absolute;
        z-index: 50;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        left: -235px;
        top: 33px;
        transition: 0.5s opacity;
        border-top: 20px solid transparent;
    }
    &__menu-drop &__menu-drop-item {
        display: block;
        background-color: grey;
        border-bottom: 2px solid blue;
        transition: 0.3s;
        a {
            display: block;
            padding: 15px 100px 15px 20px;
        }
    }
    &__menu-drop &__menu-drop-item:hover {
        padding-left: 20px;
    }
    &__menu-drop &__menu-drop-item:last-child {
        border-bottom: none;
    }
    &__menu-list-drop:hover &__menu-drop {
        transition: .3s opacity;
        opacity: 1;
        visibility: visible;
    }
    &__menu-list-drop:hover .header__menu-link {
        color: $primary-color;
        border-bottom: 4px solid $primary-color;
    }
    &__menu-list-drop::after {
        content: '';
        position: absolute;
        border: 5px solid;
        border-color:  transparent  transparent transparent #eee;
        top: 5px;
        left: 115px;
        transition: 0.5s;
    }
    &__menu-list-drop:hover::after{
        transform: rotate(90deg);
        border-color:  transparent  transparent transparent $primary-color;
    }
    &__content-inner {
        text-align: center;
        padding-top: 12%;
    }
    &__content-slider {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__title {
        padding-top: 10px;
        font-size: 30px;
        line-height: 65px;
        font-weight: 700;
        text-transform: uppercase;  
    }
    &__subtitle-slide {
        font-size: 45px;
        line-height: 50px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;
        color: #fff;
    }
    &__subtitle {
        padding-top: 13%;
        font-size: 40px;
        line-height: 65px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(223, 206, 206);
    }
    &__subtitle1 {
        font-size: 60px;
        line-height: 65px;
        font-weight: 700; 
        color: #fff;
    }
    &__subtitle2 {
        margin-top: 15px;
        font-size: 45px;
        line-height: 65px;
        font-weight: 700; 
        color: #000;
    }
    &__subtitle-subject {
        font-size: 60px;
        font-weight: 700;
    }
    &__button {
        margin-top: 30px;
        padding: 15px 18px;
        color: #fff;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        background-color: $primary-color;
        outline: none;
        border: 2px solid #fff;
        box-shadow: 5px 5px 4px 0px #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            transform: translate(5px, 5px);
            box-shadow: 0px 0px 0px 0px #fff;
        }
    }
}

.header__menu-link.header__menu-link--active {
    color: #182e53;
    border-bottom: 4px solid #182e53
}
.header__menu-link.header__menu-link--selected {
    color: #182e53;
    border-bottom: 4px solid #182e53
}


