.process {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    &__content {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        max-width: 350px;
        height: 350px;
    }
   
    &__text {
        margin-top: 40px;
        margin-left: 20px;
        font-size: 24px;
        line-height: 34px;
        color: #000;
    }
}

