.process {
    padding-top: 30px;
    background-color: #fff;
    &__content {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &__img {
        max-width: 280px;
        height: 280px;
    }
    &__text {
        margin-top: 40px;
        margin-left: 20px;
        font-size: 24px;
        line-height: 34px;
        color: #000;
    }
}

