.services {
    padding-top: 50px;
    padding-bottom: 91px;
    background-color: lightgrey;
    &__content {
        margin-top: 70px;
    }
    &__menu {
        display: flex;
        justify-content: center;
    }
    &__menu-item {
        font-size: 28px;
        line-height: 40px;
        color: #717171;
        padding: 16px 48px;
        background-color: #fff;
        box-shadow: 0px 0px 0px 2px grey;
        border: 2px solid transparent;
        cursor: pointer;
        position: relative;
        margin-right: 5px;
        font-family:  $secondary-font;
        &:last-child {
            margin-right: 0;
        }
    }
    &__menu-item:hover {
        box-shadow: 0px 0px 0px 2px $third-color;
    }
    &__menu-item--active {
        background-color: $third-color;
        color: #fff;
        position: relative;
    }
    &__menu-item--active::after {
        content: '';
        position: absolute;
        background-image: url(../img/services/services_triangle.png);
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 27px;
        height: 13px;
    }
    &__menu-content {
        margin-top: 28px;
        max-width: 1050px;
        margin-right: 5%;
    }
    &__menu-content-item {
        display: flex;
        display: none;
    }
    &__menu-text {
        padding-left: 15px;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 300;
        text-align: justify;
    }
} 








