.team {
    padding: 50px 0 100px;
    background-color: lightgray;
    // background-color: rgb(144, 150, 247);
    &__text {
        margin-top: 45px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
    &__items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-column-gap: 30px;
    }
    &__item {
        max-width: 260px;
        text-align: center;
        background-color: #fff;
        box-shadow: 10px 10px 5px 0px $third-color;
        border-radius: 5%;
        position: relative;
        transition: all .3s;
        overflow: hidden;
        &:hover .team__social-network {
            opacity: 1 ;
            visibility: visible;
            transition: .3s;
            left: 0px;
        }
        
    }
    &__item-title {
        padding-top: 15px;
        color: $third-color;
        font-size: 18px;
        font-weight: 700;
    }
    &__item-img {
        margin-top: 10px;
        max-width: 160px;
        border-radius: 50%;
    }
    &__item-text {
        margin-top: 5px;
        padding: 0 10px;
        font-size: 14px;
        line-height: 18px;
        color: $secondary-color;
    }
    &__social-network {
        opacity: 0;
        visibility: hidden;
        padding: 10px 15px;
        background-color: lightgrey;
        height: 70px;
        position: absolute;
        top: 0;
        left: -50px;
        border-radius: 5px;
    }
}